
<body>
<div class="col-md-6 offset-md-1">
    <div >
    <h1 style="text-align: center;"> Request an Appointment </h1>
    <form name="form" (ngSubmit)="addForm.form.valid && onSubmit()" #addForm="ngForm" novalidate>
    
        <div class="form-group">
            <label> Patient Id </label>
            <input disabled type="number" class ="form-control" id = "pId"
                [(ngModel)] = "appointmentRequest.patientId" name = "pId">
        </div>

        <div class="form-group">
            <label>Patient Email</label>
            <input disabled type="email" class ="form-control" id = "email"
                [(ngModel)] = "appointmentRequest.patientEmail" name = "email">
        </div>
    
        <div class="form-group">
            <label for="appointmentDate">Appointment Date<span>*</span></label>

            <input type="date" class="form-control" [(ngModel)]="appointmentRequest.appointmentDate" #appointmentDate="ngModel"
                [ngClass]="{'is-invalid':addForm.submitted && appointmentDate.invalid}" name="appointmentDate"
                required>
            <div class="invalid-feedback">
                <div>Date is required</div>
            </div>

        </div>

        <div class="form-group">
            <label for="appointmentTime">Appointment Time<span>*</span></label>

            <input type="time" class="form-control" [(ngModel)]="appointmentRequest.appointmentTime" #appointmentTime="ngModel"
                [ngClass]="{'is-invalid':addForm.submitted && appointmentTime.invalid}" name="appointmentTime"
                required>
            <div class="invalid-feedback">
                <div>Time is required</div>
            </div>

        </div>

        
    
        <button  class = "btn btn-success  float-right" type ="submit">Create</button>
        <button class = "btn btn-success float-left" (click)="goBack(appointmentRequest.patientId)">Back</button> -->
        
    
    </form>
    </div>
    </div>
    </body> 
