<!-- Create Spectacle Component -->

 <body>
 <div class="col-md-6 offset-md-5">
    <h1 >Add Spectacle</h1>
    <div class="container">
        <form name="form" (ngSubmit)="addForm.form.valid && onSubmit()" #addForm="ngForm" novalidate>
            <div class="form-group">
                <label for="spectacleModel">Enter Spectacle Model<span>*</span></label>

                <input type="text" class="form-control" [(ngModel)]="spectacle.model" #spectacleModel="ngModel"
                    [ngClass]="{'is-invalid':addForm.submitted && spectacleModel.invalid}" name="spectacleModel"
                    required>
                <div class="invalid-feedback">
                    <div>Model is required</div>
                </div>

            </div>

            <div class="form-group">
                <label for="spectacleDescription">Enter the Spectacle Description<span>*</span></label>
                <input type="text" class="form-control" [(ngModel)]="spectacle.description"
                    #spectacleDescription="ngModel"
                    [ngClass]="{'is-invalid':addForm.submitted && spectacleDescription.invalid}"
                    name="spectacleDescription" required>
                <div class="invalid-feedback">
                    <div>Description is Required</div>
                </div>

            </div>

            <div class="form-group">
                <label for="spectacleCost">Enter the Spectacle Cost<span>*</span></label>
                <input type="text" class="form-control" [(ngModel)]="spectacle.cost" #spectacleCost="ngModel"
                    [ngClass]="{'is-invalid':addForm.submitted && spectacleCost.invalid}" name="spectacleCost" required>
                <div class="invalid-feedback">
                    <div>Cost is Required</div>
                </div>
            </div>
            <button class="btn btn-success float-right" type="submit" style="margin:5px;">Add</button>
        <button class = "btn btn-success float-left"  routerLink="../admin-service">Back</button>

           
        </form>
    </div>

</div>
</body>