<div class="container ">
    <div class="col-sm-12">
    <div class="jumbotron" style="margin-top: 50px;">
        <h1 style="text-align: center;"> Spectacle Details</h1>
        <button style="margin-left: 260px ;text-align:center;" class="btn btn-info" (click)="goToSpectacleList()">Go Back</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../admin-service">Admin Page</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../home">LogOut</button>
        
    <div style="text-align: center; padding-top: 30px;">
        <div>
            <label> <b> Spectacle Id: </b></label> {{spectacle.id}}
        </div>
        <div>
            <label> <b> Model: </b></label> {{spectacle.model}}
        </div>
        <div>
            <label> <b> Description: </b></label> {{spectacle.description}}
        </div>
        <div>
            <label> <b> Cost: </b></label> {{spectacle.cost}}
        </div>
    </div>
</div>
</div>
</div>
