<div class="col-md-6 offset-md-3">
    <h3 class="jumbotron"> Create Spectacle </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Patient Id </label>
            <input type="number" class ="form-control" id = "pId"
                [(ngModel)] = "appointment.patientId" name = "pId">
        </div>
    
        <div class="form-group">
            <label> Doctor Id </label>
            <input type="number" class ="form-control" id = "dId"
                [(ngModel)] = "appointment.doctorId" name = "dId">
        </div>

        <div class="form-group">
            <label> Appointment Date </label>
            <input type="date" class ="form-control" id = "aDate"
                [(ngModel)] = "appointment.appointmentDate" name = "aDate">
        </div>

        <div class="form-group">
            <label> Appointment Time</label>
            <input type="time" class ="form-control" id = "aTime"
                [(ngModel)] = "appointment.appointmentTime" name = "aTime">
        </div>

        <div class="form-group">
            <label> Consultation Fee</label>
            <input type="number" class ="form-control" id = "cFee"
                [(ngModel)] = "appointment.consultationFee" name = "cFee">
        </div>
    
        <button class = "btn btn-success" style="margin-left: 10px" type ="submit">Create</button>
        <button class="btn btn-success" style="margin-left: 10px" (click)="goToAppointmentList()">goToAppointmentList List</button>
    
    </form>
    
    </div> 
