<div class="container">
    <div class="col-sm-12">

        <div class="jumbotron" style="height: 200px; margin-top: 0%;">
            <h1 style="text-align: center; margin-top: 0%;"> Spectacle List</h1>
            <button class="btn btn-info" style="margin-left: 240px;" (click)="getSpectacle()">Spectacles List</button>
            <button class="btn btn-info" style="margin-left: 10px;" routerLink="../admin-service">Go Back</button>
            <button class="btn btn-info" style="margin-left: 10px;" routerLink="../home">LogOut</button>
            <br>
            <label style=" font-size: large;margin-right: 10px; margin-left: 180px; padding-top: 10px;"
                for="date">Search Spectacle with Model</label>
            <input [(ngModel)]="model" type="text">
            <button (click)="spectacleByModel()" type="button" class="btn-info">Search</button>

        </div>
    <table class = "table table-striped" style="text-align: center;">
        <thead>
            <tr >
                <th> Id</th>
                <th> Model </th>
                <th> Cost</th>
                <th> Description</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor = "let spectacle of spectacles" >
                <td> {{ spectacle.id }} </td>
                <td> {{ spectacle.model}} </td>
                <td> {{ spectacle.cost }} </td>
                <td> {{ spectacle.description }} </td>
                <td>
                    <button style="margin-left: 10px" class="btn btn-success" (click)="spectacleDetails(spectacle.id)">Details</button>
                    <button style="margin-left: 10px" class="btn btn-info" (click)="updateSpectacle(spectacle.id)">Update</button>
                    <button style="margin-left: 10px" class="btn btn-danger" (click)="deleteSpectacle(spectacle.id)">Delete</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>


