<div class="container col-md-6 offset-md-3">
    <h3 class="jumbotron"> Doctor Details</h3>
    <div>
        <div>
            <label> <b> Doctor Id: </b></label> {{doctor.doctorId}}
        </div>
        <div>
            <label> <b> Doctor Name: </b></label> {{doctor.name}}
        </div>
        <div>
            <label> <b> Consultation Time: </b></label> {{doctor.consultationTime}}
        </div>
        <div>
            <label> <b> Email: </b></label> {{doctor.email}}
        </div>
        <div>
            <label> <b> Mobile: </b></label> {{doctor.mobile}}
        </div>
        <div>
            <label> <b> Username: </b></label> {{doctor.userName}}
        </div>
        <div>
            <label> <b> Password: </b></label> {{doctor.password}}
        </div>
        <div>
            <label> <b> Address: </b></label> {{doctor.address}}
        </div>
    </div>

    <button style="margin-left: 10px" class="btn btn-success" (click)="goToDoctorList()">Doctor List</button>
    <button style="margin-left: 10px" class="btn btn-info" (click)="updateDoctor(doctor.doctorId)">Update</button>
    <button style="margin-left: 10px" class="btn btn-danger" (click)="deleteDoctor(doctor.doctorId)">Delete</button>
</div>
