<!-- Home Page Doctor List Component -->

<div class="container">
    <div class="col-sm-12">

        <div>
            <h1 style="text-align: center; margin-top: 20px;font-size: 30px;"> Doctor List</h1>
        
            
            
            <input placeholder="Name" [(ngModel)]="name" type="text">
            <button (click)="doctorByName()" type="button" class="btn-info">Search</button>
            <span>
                <button class="btn btn-info" style="margin-left: 10px;float: right;" routerLink="../home">Go Back</button>
                <button class="btn btn-info" style="float: right;" (click)="getDoctor()">All Doctors</button>
               </span>

        </div>
    <table class = "table table-striped" style="text-align: center;margin-top: 30px;">
        <thead>
            <tr>
                <th> Doctor Id</th>
                <th> Name </th>
                <th> Consultation Time </th>
                <th> Mobile No. </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let doctor of doctors" >
                <td> {{ doctor.doctorId}} </td>
                <td> {{ doctor.name }} </td>
                <td> {{ doctor.consultationTime }} </td>
                <td> {{ doctor.mobile }} </td>
                <td> {{ doctor.email }} </td>
            </tr>
        </tbody>
    </table>
    </div>

    
