<div class="container">
    <div class="col-sd-12">

        <div class="jumbotron">
            <h1 style="text-align: center; margin-top: 0%;"> Test List</h1>
            <button class="btn btn-info" style="margin-left: 280px;" (click)="getTests()">Test List</button>
            <button class="btn btn-info" style="margin-left: 10px;" routerLink="../admin-service">Go Back</button>
            <button class="btn btn-info" style="margin-left: 10px;" routerLink="../home">LogOut</button>
            <br>
            <label style=" font-size: large;margin-right: 10px; margin-left: 200px; padding-top: 10px;"
                for="date">Search Test with Name</label>
            <input [(ngModel)]="name" type="text">
            <button (click)="testByName()" type="button" class="btn-info">Search</button>
        </div>
    <table class = "table table-striped" style="text-align: center;">
    <thead>
        <tr>
            <th> Test Id</th>
            <th> Test Name </th>
            <th> Cost</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let test of tests" >
            <td> {{ test.testId }} </td>
            <td> {{ test.name }} </td>
            <td> {{ test.cost }} </td>
            <td>
                <button (click) = " testsDetails(test.testId)" class = "btn btn-success" style="margin-left: 10px"> Details</button>
                <button (click) = "updateTests(test.testId)" class = "btn btn-info" style="margin-left: 10px"> Update</button>
                <button (click) = "deleteTests(test.testId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>    
            </td>
        </tr>
    </tbody>
</table>
</div>
