<div class="container ">
    <div class="col-sm-12">
    <div class="jumbotron" style="margin-top: 50px;">
        <h1 style="text-align: center;"> Test Details</h1>
        <button style="margin-left: 260px ;text-align:center;" class="btn btn-info" (click)="goToTestsList()">Go Back</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../admin-service">Admin Page</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../home">LogOut</button>
        
    <div style="text-align: center; padding-top: 30px;">
   
        <div>
            <label> <b> Test Id: </b></label> {{tests.testId}}
        </div>
        <div>
            <label> <b> Test Name: </b></label> {{tests.name}}
        </div>
        <div>
            <label> <b> Test Type: </b></label> {{tests.type}}
        </div>
        <div>
            <label> <b> Test Description: </b></label> {{tests.description}}
        </div>
        <div>
            <label> <b> Cost: </b></label> {{tests.cost}}
        </div>
    </div>
</div>
</div>
</div>

