
body
{
    background-size:cover;
    background-image: url("https://c1.wallpaperflare.com/preview/582/367/703/background-glasses-wood-background-wood-texture.jpg");
}

h1{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

label{
    font-weight: 300;
    
}

input{
    font-weight: 400;
}