<div class="container col-md-6 offset-md-3">
    <div class="jumbotron">
    <h3> Welcome {{doctor.userName}}</h3>
    <a routerLink="../../home">Log Out</a>
    <button (click)=seeAppointment()>Appointments</button>
</div>

    <div>
        <div>
            <label> <b> Doctor Id: </b></label> {{doctor.doctorId}}
        </div>
        <div>
            <label> <b> Doctor Name: </b></label> {{doctor.name}}
        </div>
        <div>
            <label> <b> Consultation Time: </b></label> {{doctor.consultationTime}}
        </div>
        <div>
            <label> <b> Email: </b></label> {{doctor.email}}
        </div>
        <div>
            <label> <b> Mobile: </b></label> {{doctor.mobile}}
        </div>
        <div>
            <label> <b> Username: </b></label> {{doctor.userName}}
        </div>
        <div>
            <label> <b> Password: </b></label> {{doctor.password}}
        </div>
        <div>
            <label> <b> Address: </b></label> {{doctor.address}}
        </div>
    </div>
</div>

<section id="list">
    <a name=Appointments> </a>
<div class="col-sm-6">
    <h2 class="jumbotron"> Appointment List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Id</th>
                <th> Patient Id </th>
                <th> Date</th>
                <th> Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments">
                <td> {{ appointment.id }} </td>
                <td> {{ appointment.patientId }} </td>
                <td> {{ appointment.appointmentDate | date:fulldate }} </td>
                <td> {{ appointment.appointmentTime }} </td>
            </tr>
        </tbody>
    </table>
</div>
</section>

