body
{
   height: 920px;
   background-size: cover;
   background-image: url("https://images.thestar.com/3kGy7OMmBxAjuK-a0cmYwc1uCt8=/1086x667/smart/filters:cb(1563221150724)/https://www.thestar.com/content/dam/thestar/news/gta/2019/06/27/theyre-ontarios-top-billing-doctors-but-for-years-their-identities-have-been-kept-secret-until-now/doctors_poster_final.png");
}
h1{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

label{
    font-weight: 400;
    
}

input
{
    font-weight: 400;
    background-color: rgb(206, 231, 255);
}