<!-- Login Page Component -->

<!DOCTYPE html>
<html>
<head>
 	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">	
</head>

<body>
	
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h1 style="color: white;">Log In</h1>
			</div>
			<div class="card-body">
				<form >

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
                        <select id="select" (change)="selectChangeHandler($event)">
                            <option value="" disabled selected>Select a user type</option>
                            <option>Admin</option>
                            <option>Doctor</option>
                            <option>Patient</option>
                        </select>	
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input [(ngModel)]="username" type="text" name="username" class="form-control" placeholder="username">
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="password">
					</div>
					
					<div class="form-group">
						<button (click)="onSubmit()" class = "btn  btn-success " style="margin-left: 10px; float: right;" type ="button">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
