<div class="container ">
    <div class="col-sm-12">
    <div class="jumbotron" style="margin-top: 50px;">
        <h1 style="text-align: center;"> Doctor Details</h1>
        <button style="margin-left: 260px ;text-align:center;" class="btn btn-info" (click)="goToDoctorList()">Go Back</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../admin-service">Admin Page</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../home">LogOut</button>
        
    <div style="text-align: center; padding-top: 30px;">
        <div>
            <label> <b> Doctor Id: </b></label> {{doctor.doctorId}}
        </div>
        <div>
            <label> <b> Doctor Name: </b></label> {{doctor.name}}
        </div>
        <div>
            <label> <b> Consultation Time: </b></label> {{doctor.consultationTime}}
        </div>
        <div>
            <label> <b> Email: </b></label> {{doctor.email}}
        </div>
        <div>
            <label> <b> Mobile: </b></label> {{doctor.mobile}}
        </div>
        <div>
            <label> <b> Username: </b></label> {{doctor.userName}}
        </div>
        <div>
            <label> <b> Address: </b></label> {{doctor.address}}
        </div>
    </div>
    </div>
</div>
</div>
