body{
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/09/25/background-red-light.jpg");
    background-size: cover;
    height: auto;
}
h1{
    padding-top: 20px;
    font-size: 30px;
}