<div class="container">
    <div class="col-sm-12">

        <div class="jumbotron" style="height: 200px; margin-top: 0%;">
            <h1 style="text-align: center; margin-top: 0%;"> Test List</h1>
            <button class="btn btn-info" style="margin-left: 320px;" (click)="getTests()">All Tests</button>
            <button class="btn btn-info" style="margin-left: 10px;" routerLink="../home">Go Back</button>
            <br>
            <label style=" font-size: large;margin-right: 10px; margin-left: 200px; padding-top: 10px;"
                for="date">Search Spectacle with Model</label>
            <input [(ngModel)]="name" type="text">
            <button (click)="testByName()" type="button" class="btn-info">Search</button>

        </div>
    <table class = "table table-striped" style="text-align: center;">
        <thead>
            <tr>
                <th> Test Id</th>
                <th> Test Name </th>
                <th> Cost</th>
                <th> Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let test of tests" >
                <td> {{ test.testId }} </td>
                <td> {{ test.name }} </td>
                <td> {{ test.cost }} </td>
                <td> {{ test.type }} </td>
            </tr>
        </tbody>
    </table>
    </div>

