<div class="col-md-6 offset-md-3">
    <h3 class="jumbotron"> Add Spectacle </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Model </label>
            <input type="text" class ="form-control" id = "model"
                [(ngModel)] = "spectacle.model" name = "model">
        </div>
    
        <div class="form-group">
            <label> Description </label>
            <input type="text" class ="form-control" id = "description"
                [(ngModel)] = "spectacle.description" name = "description">
        </div>

        <div class="form-group">
            <label> Cost </label>
            <input type="text" class ="form-control" id = "cost"
                [(ngModel)] = "spectacle.cost" name = "cost">
        </div>
    
        <button class = "btn btn-success" style="margin-left: 10px" type ="submit">Add</button>
        <button class="btn btn-success" style="margin-left: 10px" (click)="goToSpectacleList()">Spectacle List</button>
    
    </form>
    
    </div> 

